
.cont{
    text-align: center;
    justify-content: center;
    
    }
    .barra1{
        background-color: #308409;
        width: 300px;
        height: 5px;
        margin: 0 auto;  
    }
    .cont2{
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 0fr 0fr 0fr;
        
    }
    .fig{
        box-shadow: 1px 1px 10px;
        

    }
    figcaption{
        padding: 10px;
    }
 